.products {
  width: 60%;
  margin-left: 8%;
}
.products h2 {
  margin-top: 100px;
  margin-bottom: 30px;
  font-weight: bold;
  font-size: 3rem;
}
.container-product-list {
  display: flex;
  background-color: hsl(13, 31%, 94%);
}
.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1024px) {
  /* En pantallas medianas, reducimos el ancho de productos */
  .container-product-list {
    display: flex;
    flex-direction: column;
  }
}
